<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>The Shawshank Redemption</string>
		<key>year</key>
		<integer>1994</integer>
		<key>source</key>
		<string>http://www.imdb.com/title/tt0111161/</string>
	</dict>
    <dict>
        <key>title</key>
        <string>The Godfather</string>
        <key>year</key>
        <integer>1972</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0068646/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Schindler's List</string>
        <key>year</key>
        <integer>1993</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0108052/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Saving Private Ryan</string>
        <key>year</key>
        <integer>1998</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0120815/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Pulp Fiction</string>
        <key>year</key>
        <integer>1994</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0110912/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>12 Angry Men</string>
        <key>year</key>
        <integer>1957</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0050083/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Spirited Away</string>
        <key>year</key>
        <integer>2001</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0245429/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Léon: The Professional</string>
        <key>year</key>
        <integer>1994</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0110413/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Life Is Beautiful</string>
        <key>year</key>
        <integer>1997</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0118799/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>The Usual Suspects</string>
        <key>year</key>
        <integer>1995</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0114814</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Casablanca</string>
        <key>year</key>
        <integer>1942</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0034583/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Interstellar</string>
        <key>year</key>
        <integer>2014</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0816692/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>American History X</string>
        <key>year</key>
        <integer>1998</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0120586/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Modern Times</string>
        <key>year</key>
        <integer>1936</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0027977/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>The Intouchables</string>
        <key>year</key>
        <integer>2011</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt1675434/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>The Green Mile</string>
        <key>year</key>
        <integer>1999</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0120689/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Rear Window</string>
        <key>year</key>
        <integer>1954</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0047396</string>
    </dict>
    <dict>
        <key>title</key>
        <string>The Lion King</string>
        <key>year</key>
        <integer>1994</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0110357/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Cinderella (Orginal)</string>
        <key>year</key>
        <integer>1950</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0042332/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Dumbo</string>
        <key>year</key>
        <integer>1941</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0033563/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Pinocchio</string>
        <key>year</key>
        <integer>1940</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0032910/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Race to Witch Mountian</string>
        <key>year</key>
        <integer>2009</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt1075417/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Wall-E</string>
        <key>year</key>
        <integer>2008</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0910970/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Finding Nemo</string>
        <key>year</key>
        <integer>2003</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0266543/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Snow White and the Seven Dwarfs</string>
        <key>year</key>
        <integer>1937</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0029583/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Pirates of the Caribbean: The Curse of the Black Pearl</string>
        <key>year</key>
        <integer>2003</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0325980/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Pirates of the Caribbean: At World's End</string>
        <key>year</key>
        <integer>2007</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0449088/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Toy Story 2</string>
        <key>year</key>
        <integer>1999</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0120363/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Toy Story 3</string>
        <key>year</key>
        <integer>2010</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0435761/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>A Goofy Movie</string>
        <key>year</key>
        <integer>1995</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0113198/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>The Sword in the Stone</string>
        <key>year</key>
        <integer>1963</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0057546/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Source Code</string>
        <key>year</key>
        <integer>2011</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0945513/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>National Treasure</string>
        <key>year</key>
        <integer>2004</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0368891/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Ratatouille</string>
        <key>year</key>
        <integer>2007</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0382932/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Bedtime Stories</string>
        <key>year</key>
        <integer>2008</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0960731/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Gladiator</string>
        <key>year</key>
        <integer>2000</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0172495/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Memento</string>
        <key>year</key>
        <integer>2000</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0209144/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Sherk</string>
        <key>year</key>
        <integer>2001</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0126029/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Training Day</string>
        <key>year</key>
        <integer>2001</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0139654/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>The Lord of the Rings: The Return of the King</string>
        <key>year</key>
        <integer>2003</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0167260/</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Minority Report</string>
        <key>year</key>
        <integer>2002</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0181689 /</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Oldboy</string>
        <key>year</key>
        <integer>2003</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0364569 /</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Million Dollar Baby</string>
        <key>year</key>
        <integer>2004</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0405159 /</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Mr. and Mrs. Smith</string>
        <key>year</key>
        <integer>2005</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0356910 /</string>
    </dict>
    <dict>
        <key>title</key>
        <string>Avatar</string>
        <key>year</key>
        <integer>2009</integer>
        <key>source</key>
        <string>http://www.imdb.com/title/tt0499549 /</string>
    </dict>












</array>
</plist>
